<!DOCTYPE html>
<html>
<head>
  <title>KonoMailup</title>
  <%= stylesheet_link_tag    "kono_mailup/application", media: "all" %>
  <%= javascript_include_tag "kono_mailup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Get Tokens', '/auth/mailup' %>


<% if KonoMailup::ApiBuilder.client_ready? %>
    <div>
      <h3>Test Api</h3>
      <%= link_to "Get List", list_test_api_path %>
    </div>
<% end %>

<div>
  <%= yield %>
</div>

</body>
</html>
